{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <h1>ToDo List</h1>
    <div class="main-block">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }} 
            <button type="submit">Add Task</button>
        </form>
    </div>
    <br>
    <div class="tasks">
        <ul>
            {% for task in tasks %}
                <li>{{ task.message }}</li>
            {% empty %}
                <li>No tasks yet.</li>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}
</body>
</html>
